*{
    box-sizing: border-box;

}

body{
    background-image:url(orçamento.png);
    background-position: center;
    background-size: cover;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family:monospace;
    font-size: 18px;

}

.container{
    margin:30px auto;
    width: 400px;
}

h1{
    letter-spacing: 1px;
    margin:0;
    -webkit-text-stroke: 2px #363636;
}

h3{
    border-bottom: 1px solid #ffffff;
    padding-bottom:10px;
    margin: 40px 0 10px;
    

}

h4{
    margin:0;
    text-transform: uppercase;
    color: #000000; 
    text-shadow: 0 0 10px #02ff02, 0 0 10px #00ff00;
    font-family: 'Courier New', Courier, monospace;
}

.container-ganhos-despesas {
    background-color: rgba(0, 0, 0, 0.6); /* Fundo escuro transparente */
    backdrop-filter: blur(10px);
    box-shadow: var(--box-shadow);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0%;
    border-radius: 20px;
    
}

.container-ganhos-despesas h4 {
    color: rgb(247, 244, 244);
}

.container-ganhos-despesas > div {
    flex: 1;
    text-align: center;
}

.container-ganhos-despesas > div:first-of-type {
    border-right: 1px solid #dedede;
}

.dinheiro {
    font-size: 20px;
    letter-spacing: 1px;
    margin: 5px 0;
}
.dinheiro-mais {
    color: #2ecc71;
}

.dinheiro-menos {
    color: #c0392b;
}

label {
    display: inline-block;
    margin: 10px 0;
}

input[type="text"],
input[type="number"] {
    border: 1px solid #dedede;
    border-radius: 2px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.botao {
    cursor: pointer;
    background-color: rgb(15, 110, 28);
    box-shadow: var(--box-shadow);
    color: #fff;
    border: 0;
    display: block;
    font-size: 16px;
    margin: 10px 0 30px;
    padding: 10px;
    width: 100%;
}

.botao:focus,
.botao-apagar:focus {
    outline: 0;
}

.lista {
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
}

.lista li {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    color: #333;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 10px 0;
}

.lista li.mais {
    border-right: 5px solid #2ecc71;
}

.lista li.menos {
    border-right: 5px solid #c0392b;
}

.botao-apagar {
    cursor: pointer;
    background-color: #e74c3c;
    border: 0;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    padding: 2px 5px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.lista li:hover .botao-apagar {
    opacity: 1;
}

.form-control {
    -webkit-text-stroke:1px #00000031;
}
